<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntelliCloud.Database.Catalog" value="IntelliCloud" />
    <add key="IntelliCloud.Database.DataSource" value="GVANHOESEl-PC\SQLEXPRESS" />
    <add key="IntelliCloud.Database.Username" value="intellicloud" />
    <add key="IntelliCloud.Database.Password" value="intellicloud" />
    <add key="IntelliCloud.Mail.Username" value="intellicloudquestions@gmail.com"/>
    <add key="IntelliCloud.Mail.Password" value="proftaaksm72"/>
    <add key="IntelliCloud.Mail.SmtpPort" value="587"/>
    <add key="IntelliCloud.Mail.SmtpHost" value="smtp.gmail.com"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>