<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntelliCloud.Database.Catalog" value="IntelliCloud" />
    <add key="IntelliCloud.Database.DataSource" value="GVANHOESEL-PC\MSSQL2008" />
    <add key="IntelliCloud.Database.Username" value="intellicloud" />
    <add key="IntelliCloud.Database.Password" value="intellicloud" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>