<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntelliCloud.Database.Catalog" value="IntelliCloud" />
    <add key="IntelliCloud.Database.DataSource" value="PIM-LAPTOP\MSSQL2008" />
    <add key="IntelliCloud.Database.Username" value="intellicloud" />
    <add key="IntelliCloud.Database.Password" value="intellicloud" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWordService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://81.204.121.229/WordStoreService/WordService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWordService"
        contract="WordService.IWordService" name="WSHttpBinding_IWordService" />
    </client>
  </system.serviceModel>
</configuration>