<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="IntelliCloud.Database.Catalog" value="IntelliCloud" />
    <add key="IntelliCloud.Database.DataSource" value="PIM-LAPTOP\MSSQL2008" />
    <add key="IntelliCloud.Database.Username" value="intellicloud" />
    <add key="IntelliCloud.Database.Password" value="intellicloud" />
    <add key="IntelliCloud.Mail.Username" value="intellicloudquestions@gmail.com"/>
    <add key="IntelliCloud.Mail.Password" value="proftaaksm72"/>
    <add key="IntelliCloud.Mail.SmtpPort" value="587"/>
    <add key="IntelliCloud.Mail.SmtpHost" value="smtp.gmail.com"/>
    <add key="ConsumerKey" value="5SFAC0n3LhszMHKvpDkvw" />
    <add key="ConsumerSecret" value="TkP98l0xDl4FEucVq6WYfEAHyCgJi0b6IwSrOGfhCs" />
    <add key="OAuthToken" value="2221459926-pUrExE5ls8d0m4D9rIkvSmL7a590XEzKElBOtrr" />
    <add key="AccessToken" value="2eaC8UZsCdh9E5Pi0JebSZa04VwFFnahkuMf3NVYT41yd" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <services>
      <service name="nl.fhict.IntelliCloud.Service.IntelliCloudService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IIntelliCloudService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
      <service name="nl.fhict.IntelliCloud.Service.AnswerService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IAnswerService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
      <service name="nl.fhict.IntelliCloud.Service.QuestionService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IQuestionService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
      <service name="nl.fhict.IntelliCloud.Service.FeedbackService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IFeedbackService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
      <service name="nl.fhict.IntelliCloud.Service.ReviewService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IReviewService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
      <service name="nl.fhict.IntelliCloud.Service.UserService" behaviorConfiguration="DefaultConfig">
        <endpoint address="" binding="webHttpBinding" contract="nl.fhict.IntelliCloud.Service.IUserService" behaviorConfiguration="DefaultWeb"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultWeb">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultConfig">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>