<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ConsumerKey" value="5SFAC0n3LhszMHKvpDkvw"/>
    <add key="ConsumerSecret" value="TkP98l0xDl4FEucVq6WYfEAHyCgJi0b6IwSrOGfhCs"/>
    <add key="OAuthToken" value="2221459926-pUrExE5ls8d0m4D9rIkvSmL7a590XEzKElBOtrr"/>
    <add key="AccessToken" value="2eaC8UZsCdh9E5Pi0JebSZa04VwFFnahkuMf3NVYT41yd"/>
    <add key="ScreenName" value="IntelliCloudQ"/>
    <add key="LastPostId" value="1"/>
  </appSettings>
</configuration>
